
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<!-- <div class="header bg-gradient-danger pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class="text-md text-white title">Notifications</h1>
        </div>
    </div>
</div>
 Page content 
<div class="container-fluid mt--8" style="background-color: #172b4d;">
    <div class="row">
        <div class="col p-2">
            <div class="card shadow border-0 pb-8">

                <div class="row justify-content-center my-5 mx-md-4 mx-sm-4 mx-4">

                    <div  class="col-12  col-xl-8 col-lg-12 col-md-12 col-sm-12 p-0">
                        <h2 class="mb-3">January 2021</h2>
                        <div *ngFor="let s of notifications">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="p-2 border-left border-dark">
                                <div class="card shadow m-sm-4 m-2 p-0">

                                    <div class="card-body px-2 px-lg-4">
                                        <p class="display-4 text-center text-dark">Session</p>

                                        <p class="text-center font-weight-normal text-default text-dark">The session is
                                            on {{s.session.sessionDate }} from {{s.session.startingTime}} to {{s.session.endingTime}} at
                                            {{s.session.village.villageName}}</p>

                                        <p class="text-center">Please confirm are you joining?</p>
                                        <div class="text-center my-4">
                                            <a style="background-color: rgba(231, 121, 194, 0.26);"
                                                class="mx-4 text-dark justify-content-between rounded px-4 py-2"
                                                [routerLink]="user/session-report">Attend</a>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="p-2 border-left border-dark">
                                <div class="card shadow m-4 p-0">

                                    <div class="card-body">
                                        <p class="display-4 text-center text-dark">Event</p>

                                        <p class="text-center font-weight-normal text-default text-dark">Event
                                            on Jan 12, 2021 10:30:am to 12:30pm at
                                            Timba</p>
                                        <div class="text-center my-4">
                                            <a style="background-color: rgba(178, 121, 231, 0.26);"
                                                class="mx-4 text-dark justify-content-between rounded px-4 py-2"
                                                [routerLink]="user/session-report">Join</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="header bg-gradient-danger pb-8 pt-4 pt-md-8">
                <div class="container-fluid">
                    <div class="header-body">
                        <h1 class="text-md text-white title">Notifications</h1>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--8" style="background-color: #172b4d;">
                <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                    <div class="col p-2">
                        <div class="card shadow border-0 pb-8">
            
                            <div class="row justify-content-center my-5 mx-md-4 mx-sm-4 mx-4">
            
                                <div  class="col-12  col-xl-8 col-lg-12 col-md-12 col-sm-12 p-0">
                                    <h2 class="mb-3">{{today | date : 'MMM yyyy'}}</h2>
                                    <div *ngFor="let n of notifications" >
                                        <ng-container *ngIf="n.session !=null">
                                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                <i class="fas fa-book"></i>
                                            </div>
                                            <div class="p-2 border-left border-dark">
                                                <div class="card shadow m-sm-4 m-2 p-0">
                                                
                                                    <div class="card-body pt-0  px-2 px-lg-4">
                                                        <h5 class="mt-2 mb-0 text-muted text-right">
                                                            {{n.createdDate | date:'mediumDate' }} {{n.createdDate | date:'shortTime' }}
                                                         </h5>
                                                        <p class="display-4 text-center text-dark">Session</p>
                                                        
                                                        <p class="text-center font-weight-normal text-default text-dark">The session is
                                                            on {{n.session.sessionDate | date :'mediumDate' }} from {{n.session.startingTime}} to {{n.session.endingTime}} at
                                                            {{n.session.village.villageName}}</p>
            
                                                        <p class="text-center">Please confirm are you joining?</p>
                                                        <div class="text-center my-4">
                                                            <button [disabled]="n.session.disable == true" 
                                                                class="btn btn-primary mx-4 text-white justify-content-between rounded px-4 py-2"
                                                                (click)="openSessionDialog(n.session.sessionId)">Attend</button>
                                                        
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="n.event!=null">
                                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="p-2 border-left border-dark">
                                                <div class="card shadow m-4 p-0">
                
                                                    <div class="card-body pt-0 ">
                                                        <h5 class="mt-2 mb-0 text-muted text-right">
                                                            {{n.createdDate | date:'mediumDate' }} {{n.createdDate | date:'shortTime' }}
                                                         </h5>
                                                        <p class="display-4 text-center text-dark">Event</p>
                
                                                        <p class="text-center font-weight-normal text-default text-dark">Event
                                                            on {{n.event.eventDate | date:'mediumDate'}} {{n.event.eventStartingTime}} to {{n.event.eventEndingTime}} at
                                                            {{n.event.village.villageName}}</p>
                                                        <div class="text-center my-4">
                                                            <button [disabled]="n.event.disable == true"
                                                                class="btn btn-primary mx-4 text-white justify-content-between rounded px-4 py-2"
                                                                (click)="openEventDialog(n.event.eventId)">Join</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>