<div class=" pb-0 pt-0 pt-md-6  bg-primary ">
    <div class="container-fluid mb-0">

    </div>

</div>
<ng-container *ngIf="showProgressbar">
    <div style="z-index: 100;position: -webkit-sticky;position:sticky;top:0;">
        <mat-progress-bar mode="indeterminate" style="color:white;"></mat-progress-bar>
    </div>
</ng-container>
<div class=" row justify-content-center mx-0 mt-0 py-4" style=" background-color: #dde3f3cc;">
    <div class="col-12 col-xl-10 ">
        <div class="card shadow p-4">
            <!-- Card header -->
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-0 text-center">Donation</h1>
                        <hr>
                    </div>
                    <ng-container *ngIf="showSpinner">
                        <mat-spinner class="mx-auto my-4" color="primary" [diameter]="40">
                        </mat-spinner>
                      </ng-container>
                    <ng-container *ngIf="noDonation">
                        <div class="col-12 col-xl-10 mx-auto d-block my-xl-4 my-6 py-xl-6 py-6">
                            <p class="text-center text-xl"><i class="fas fa-hand-holding-usd"></i></p>
                            <p class="text-xl text-center text-lg"><b>No donations yet.</b></p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="pLength">
                        <div class="col-12">
                            <div class="row justify-content-center mb-4">
                                <div class="col-xl-10 mx-auto d-block">
            
                                    <form class="example-container ">
                                    <div class="col-lg-6 col-md-7 col-sm-7 mx-auto d-block">
                                        <div class="form-group mb-0">
                                            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                                                <div class="input-group input-group-alternative p-0 border border-primary"
                                                    style="border-radius: 30px; ">
                                                    <div class="input-group-prepend  ">
                                                        <span class="input-group-text p-0 m-2"><i class="fas fa-search"></i></span>
                                                    </div>
                                                    <input class="form-control p-0 " style="border-radius: 30px;"
                                                        placeholder="Search" type="text" (focus)="focus = true"
                                                        (blur)="focus = false" [(ngModel)]="search" name="search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            
                            <table class="table align-items-center table-flush table-hover">
                                <thead class="thead-light">
                                    <tr>
    
                                        <th>
                                            <h4>No</h4>
                                        </th>
                                        <th>
                                            <h4>Donor Name</h4>
                                        </th>
                                        <th>
                                            <h4>Donor Type </h4>
                                        </th>
                                        <th>
                                            <h4>Email</h4>
                                        </th>
                                        <th>
                                            <h4>Phone No</h4>
                                        </th>
                                        <th>
                                            <h4>Payment Date</h4>
                                        </th>
                                        <!-- <th>
                                            <h4>Payment Time</h4>
                                        </th>
                                        <th>
                                            <h4>Payment Mode</h4>
                                        </th> -->
                                        <th>
                                            <h4>Ammount</h4>
                                        </th>
                                        <!-- <th>
                                            <h4>Transaction Id</h4>
                                        </th> -->
                                        <th>
                                            <h4 class="ml-3">Delete</h4>
                                        </th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of payments | donation:search ;let i=index;">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        
                                         <td>
                                             <h4>{{p.donor.donorName}}</h4>
                                         </td>
                                         <td class="table-user">
                                            <h4>{{p.donor.userType.type}}</h4>
                                         </td>
                                         
                                         <td>
                                             <h4>{{p.donor.donorEmail}}</h4>
                                         </td>
                                         <td>
                                             <h4>{{p.donor.donorPhone}}</h4>
                                         </td>
    
                                        <td>
                                            <h3>{{p.creationDate | date:'mediumDate'}}</h3>
                                        </td>
                                        <!-- <td>
                                            <h3>{{p.time}}</h3>
                                        </td>
                                        <td>
                                            <h3>{{p.mode}}</h3>
                                        </td> -->
                                        <td>
                                            <h3>{{p.amount}}</h3>
                                        </td>
                                        <!-- <td>
                                            <h3>{{p.transactionid}}</h3>
                                        </td> -->
                                        <td style="cursor: pointer;">
                                            <div class="col-3 text-right ">
                                               <i mat-button (click)="delete(p.paymentId)" class="fas fa-trash text-lg text-danger"></i>
                                            </div>
                                        </td>
    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row pl-0">
                            <div style="cursor: pointer;" class="col-6 mt-1">
                                <div  *ngIf="!previousDisabled" class="icon icon-shape bg-primary text-white rounded-circle shadow"  (click)="previousPage()">
                                  <i class="fas fa-angle-double-left"></i>
                                </div>
                              </div>
                            <div style="cursor: pointer;" class="col-6 mt-1" >
                              <div *ngIf="!nextDisabled" class="icon icon-shape bg-primary text-white rounded-circle shadow" (click)="nextPage()">
                                <i  class="fas fa-angle-double-right"></i>
                              </div>
                            </div>
                            
                         </div> 
                    </ng-container>
                   
                </div>
                <!-- Light table -->

            </div>
        </div>

    </div>