<div class="header bg-primary py-7 py-sm-8">


</div>
<!-- Page content -->
<div class="container-fluid mt--8 pb-5 bg-default pb-8 px-0">
    <div class=" mt-md-5 mb-8">
        <div class=" mx-auto d-block col-lg-8 col-md-10 col-xl-8 col-sm-8 mb-5">
            <div class="card bg-secondary shadow border-0 p-xl-4">
                <div class="card-header bg-transparent pb-2">

                    <div class="card-body px-lg-4 py-lg-4">
                        <div class="text-center text-muted mb-4">
                            <h1>Change Password</h1>
                        </div>
                        <form role="form">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Old Password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="New Password" type="password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Confirm Password" type="password">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary my-4">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>