<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white display-4">Welcome!</h1>
                    <h2 class="text-lead text-light ">Please fill required detail so you can have access to vms</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class=" mt--9 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class=" col-xl-6 col-lg-8 col-md-9 ">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">

                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h1>Volunteacher</h1>
                        </div>
                        <form (ngSubmit)="onSubmit()" #form="ngForm">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-name">Name</label>
                                    <input #name="ngModel" name="name" [(ngModel)]="v.user.userName" type="text"
                                        id="input-name" class="form-control form-control-alternative" placeholder="Name"
                                        required pattern="[a-zA-Z ]{3,20}">
                                    <small *ngIf="name.errors?.required && name.touched" class="text-danger">Name is
                                        required</small>
                                    <small *ngIf="name.errors?.pattern" class="text-danger">Invalid Name</small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email Address</label>
                                    <input name="email" #email="ngModel" [(ngModel)]="v.user.emailId" type="text"
                                        id="input-email" class="form-control form-control-alternative"
                                        placeholder="Email Address" required email maxlength="40">
                                    <small *ngIf="email.errors?.required && email.touched" class="text-danger">Email is
                                        required</small>
                                    <small *ngIf="email.errors?.email || email.errors?.maxlength"
                                        class="text-danger">Invalid
                                        Email</small>
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="invalidEmail == true">
                                    Email Already exist.
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-phone">Contact No</label>
                                    <input #phone="ngModel" name="phone" [(ngModel)]="v.user.phoneNumber" type="text"
                                        id="input-phone" class="form-control form-control-alternative"
                                        placeholder="Contact No" required pattern="[0-9]{10}" maxlength="10">
                                    <small *ngIf="phone.errors?.required && phone.touched" class="text-danger">Contact
                                        Number is
                                        required</small>
                                    <small *ngIf="phone.errors?.pattern" class="text-danger">Invalid Contact
                                        Number</small>
                                </div>
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="invalidMobileNumber == true && invalidEmail == false">
                                    Phone number Already exist.
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-gender">Gender</label>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">

                                                    <input #gender="ngModel" value="1" [(ngModel)]="v.user.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-male" required>
                                                    <label class="form-check-label" for="input-male">
                                                        Male
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-4 ml-4">
                                                <div class="form-group">
                                                    <input #gender="ngModel" value="2" [(ngModel)]="v.user.gender"
                                                        name="gender" class="form-check-input" type="radio"
                                                        name="flexRadioDefault" id="input-female" required>
                                                    <label class="form-check-label" for="input-female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div><br>
                                            <small *ngIf="!gender.valid&& form.submitted" class="text-danger">Gender is
                                                required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-pincode">Pincode</label>
                                  <input name="pincode"  #pincode="ngModel" type="text" id="input-pincode" class="form-control form-control-alternative" placeholder="Enter Pincode"
                                  pattern="[0-9]{6}" maxlength="6" [(ngModel)]="v.pincode" >
                                  <small class="text-danger" *ngIf="pincode.errors?.pattern">Invalid pincode</small>
                                </div>
                              </div>
                              <!-- <div class="col-12"  >
                                <div class="form-group">
                                  <label class="form-control-label" for="input-village">Village</label>
                                  <select [(ngModel)]="v.village.villageId" class="form-control form-control-alternative" id="input-village">
                                    <option [value]="v.villageId" *ngFor="let v of villages">{{v.villageName}}</option>
                                  </select>
                                 
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-city">City</label>
                                  <select [(ngModel)]="v.village.villageId"  formControlName="city" class="form-control form-control-alternative" id="input-city">
                                    <option [value]="city.talukaId" *ngFor="let city of cities">{{city.talukaName}}</option>
                                  </select>
                                  
                                </div>
                              </div> -->

                              <div class="col-md-12">
                                <div class="form-group">
                                    <label>My Education</label>
                                    <textarea required name="education" #education="ngModel" [ngModel]="v.education" rows="3" class="form-control form-control-alternative" placeholder="Education">Complted M.Sc in AI ML ,currently working at Google. Pursuing PhD in Canada</textarea>
                                    <small class="text-danger" *ngIf="education.errors?.required && education.touched">Education is required</small>
                                  </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group"> 
                                  <label class="form-control-label" for="input-employer">Employer name</label>
                                  <input  name="employer" #employer="ngModel" [(ngModel)]="v.employerName"  id="input-employer" class="form-control form-control-alternative" placeholder="Employer Name" value="University of Computer Science" type="text">
                                  
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-school">School Name</label>
                                  <input  name="school" #school="ngModel" [(ngModel)]="v.school" id="input-school" class="form-control form-control-alternative" placeholder="School Name" value="Gyanda girls" type="text">
                                 
                                </div>
                              </div>

                            <div class="text-center">
                                <button [disabled]="!form.valid" type="submit" class="btn btn-primary mt-4">Submit
                                   </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>