

  <div class="header bg-primary pt-7 pb-5 ">
    <div class="container">
      <h1 class="display-3 text-white font-weight-bold  text-center">Donation</h1>
    </div>
    <div class="container">

      <div class="header-body">
        <div class="row ">

        </div>
      </div>
    </div>

  </div>
  <div class="   p-lg-6 p-xl-6 p-md-6 p-sm-6 p-xs-8 p-2 ">

    <div class="row p-0 justify-content-center">
      <div class="col-xl-9 col-lg-9 col-md-10 col-12 bg-white p-4 rounded shadow ">
        <div class="px-xl-8"> 
          <form (ngSubmit)="addPayment(form.value)" #form="ngForm">

            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-name">Name</label>
                <input type="text" id="input-name" class="form-control form-control-alternative" placeholder="Name"
                  #dname='ngModel' name="name" [(ngModel)]="donor.donorName" required pattern="[a-zA-Z ]{3,30}">
                <small *ngIf="dname.errors?.required && dname.touched" class="text-danger">Name is required</small>
                <small *ngIf="dname.errors?.pattern" class="text-danger">Invalid Name</small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Email Address</label>
                <input type="text" id="input-email" class="form-control form-control-alternative"
                  placeholder="Email Address" name="email" [(ngModel)]="donor.donorEmail" #email="ngModel" required
                  email maxlength="40">
                <small *ngIf="email.errors?.required && email.touched" class="text-danger">Email is required</small>
                <small *ngIf="email.errors?.email || email.errors?.maxlength" class="text-danger">Invalid
                  Email</small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-phone">Contact No</label>
                <input type="text" id="input-phone" class="form-control form-control-alternative"
                  placeholder="Contact No" #phone='ngModel' name="phoneNumber" [(ngModel)]="donor.donorPhone" required
                  pattern="[0-9]{10}" maxlength="10">
                <small *ngIf="phone.errors?.required && phone.touched" class="text-danger">Contact Number is
                  required</small>
                <small *ngIf="phone.errors?.pattern" class="text-danger">Invalid Contact Number</small>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-group">User type</label>
                <select  class="form-control form-control-alternative" id="input-group" name="userType"
                  (change)="selectedUserType($event)" required ngModel #type="ngModel">
                  <option value="" selected>Select</option>
                  <option class="combobox" [value]="u.typeId" *ngFor="let u of userTypes;">
                    {{u.type}}
                  </option>
                </select>
                <small *ngIf="type.invalid && type.touched" class="text-danger">UserType is required</small>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-amount">Amount</label>
                <input type="text" id="input-phone" class="form-control form-control-alternative" placeholder="Amount"
                  name="amount" [(ngModel)]="payment.amount" #amount='ngModel' required pattern='[0-9]{1,10}'>
                  <small *ngIf="amount.errors?.required && amount.touched" class="text-danger">Amount is required</small>
                  <small *ngIf="amount.errors?.pattern" class="text-danger">Invalid Amount</small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-group">Payment Mode</label>
                <select #mode='ngModel' class="form-control form-control-alternative" id="input-group" name="paymentMode"
                  required #paymentMode="ngModel" ngModel>
                  <option selected value="">Select</option>
                  <option class="combobox" value="Debit Card">Debit Card</option>
                  <option class="combobox" value="Credit Card">Credit Card</option>
                  <option class="combobox" value="Net Banking">Net Banking</option>
                  <option class="combobox" value="Paytm Bank">Paytm Bank</option>
                </select>
                <small *ngIf="mode.errors?.required && mode.touched" class="text-danger">Payment Mode is required</small>
              </div>
            </div>
            <div >
              <button type="submit" [disabled]="!form.valid" 
                class="btn btn-primary btn-round mx-auto d-block ">Next</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

