
  <div class="row justify-content-center shadow">
    <div class="col-12 p-0">
        <div class="bg-secondary shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">

              <div class="col-12">
                <div class="bg-primary pt-2 rounded">
                  <div class="row justify-content-center">
                    <p (click)="zoomIn()" class="text-lg text-white mr-4"><i class="fas fa-search-plus"></i></p>
                    <p (click)="zoomOut()" class="text-lg text-white"><i class="fas fa-search-minus"></i></p>
                </div>
                </div> 
                <div class="mx-auto d-block">
                  <h4 class="text-center mt-2">Total Pages: {{totalPages}}</h4>
                  <pdf-viewer class="shadow" [src]="pdfSrc"
                     [zoom]="zoom" [zoom-scale]="zoomScale"  [render-text]="renderText" [render-text-mode]="renderTextMode" [original-size]="originalSize"
                    [fit-to-page]="fitToPage" [show-all]="showAll" [autoresize]="autoresize"
                     (after-load-complete)="callBackFn($event)"
                    (page-rendered)="pageRendered($event)" (text-layer-rendered)="textLayerRendered($event)"
                    (error)="onError($event)" (on-progress)="onProgress($event)">
                  </pdf-viewer>
                </div>
              </div>
            </div>
          </div>
        </div>
  

    </div>
  </div>
